html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	background-color: #eeeff4;
}
a {
	color: #82a9ca;
	text-decoration: none;
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(30px);
    opacity: 0
  }
  100% {
    transform: translateY(0);
    opacity: 100
  }
}
.font-weight-medium{
	font-weight: 600
}
a:hover {
	text-decoration: underline;
}
.fill-height{
	height: 100%;
}
.font-weight-medium {
	font-weight: 500;
}
.font-weight-bold{
	font-weight: 700
}
p{
	margin-top: 0;
	margin-bottom: 12px;
}
.red {
	color: #cc6666;
}
.yellow {
	color: #ceb65b;
}
.blue {
	color: #82a9ca;
}
.green {
	color: #24A64B;
}
.mb-0{
	margin-bottom: 0;
}
.mb-1{
	margin-bottom: 6px;
}
.italic{
	font-style: italic;
}